<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage,charles</title>
</head>
<body>
    <h1>Charles Babbage:</h1>
    <hr>
    <img style="display: block;margin: auto;"  src="/img/CharlesBabbage.jpg" alt="Charles Babbage">
    <hr>
    <p>  Fue un matematico y un gran cientifico britanico, el cual hizo grandes aportes como el
         diseño y desarrollo de una calculadora mecanica capaz de calular tablas de funciones numericas 
         por metodo de diferencias.otra de sus grandes obras fue el diseño de la analitica para ejecutar programas de 
         tabulacion o computacion.
    </p>
    <p> Nacio el 26 de diciembre de 1791 en Londres, Reino de Gran Bretaña y murio el 18 de Octubre de 1871 en marylebone, Reino unido</p>
</body>
</html>