<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Berners-lee,Tim</title>
  </head>
  <body>
    <h1>Berners-Lee Tim</h1>
    <hr />
    <img
      style="display: block; margin: auto"
      src="/img/Berners-Lee.png"
      alt="Tim Berners-Lee"
      class="center"
    />
    <hr />
    <p>
      Timothy John Berners-Lee nació en Londres el 8 de junio de 1955. Sus
      padres, Mary Lee Woods y Conway Berners-Lee, informáticos de profesión,
      trabajaron en el diseño del primer ordenador que se comercializó en todo
      el mundo, el Ferranti Mark I. De niño, Tim dedicaba todo su tiempo libre
      jugando con piezas, creando ordenadores con utensilios caseros y haciendo
      problemas de matemáticas. No es de extrañar que, ante tal contexto, Tim
      decidiese dedicar su vida a los ordenadores y la informática.
    </p>
    <p>
      Acudió a la escuela primaria Sheen Mount y después entró en el instituto
      Emanuel School en Londres, mientras aprendía sobre hardware jugando con
      maquetas. Después de sus años de instituto, Berners-Lee entró en el
      Queen’s College de la Universidad de Oxford, donde se graduó en 1976 en
      física e informática. En la universidad también comenzó a construir su
      propio ordenador con un soldador, un procesador M6800 y un viejo
      televisor.
    </p>
    <p>
      Tras graduarse en Oxford, Berners-Lee encontró trabajo en Plessey Telecom
      en los ámbitos de los escáneres, las transferencias de mensajes y la
      investigación y desarrollo de nuevos productos. En 1978 se fue a otra
      empresa, D.G. Nash donde trabajó en la programación de impresoras y otras
      múltiples tareas.
    </p>
    <p>
      En 1980 estuvo trabajando como ingeniero de programación libre para la
      Organización Europea para la Investigación Nuclear (CERN), durante seis
      meses. Fue allí cuando se le ocurrió hacer una propuesta para una empresa
      dependiente del "hipertexto" que haría más sencillo y útil el compartir y
      refrescar datos por parte de los científicos. Berners-Lee concibió en ese
      momento un modelo de marco llamado ENQUIRE para mostrar cómo funcionaría.
    </p>
  </body>
</html>
