<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners-lee,Tim</title>
</head>
<body>
    <h1> Berners-Lee Tim</h1>
    <hr>
    <img style="display: block;margin: auto;" src="/img/Berners-Lee.jpg" alt="Tim Berners-Lee">
    <hr>
    <p>
        Timothy John Berners-Lee es un cientifico de la computación británico conocido por
         ser el padre de WWW(World Wide Web) y ser quien establecio la primera comunicacion entre un
         cliente y un servidor usando el protocoll HTTP en 1990.</p>
         <p> Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje HTML (HyperText Markup Language) 
            o lenguaje de etiquetas de hipertexto, el protocolo HTTP (HyperText Transfer Protocol) 
            y el sistema de localización de objetos en la web URL (Uniform Resource Locator).</p>
</body>
</html>