<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ClarkeJoan</title>
  </head>
  <body>
    <h1>ClarkeJoan</h1>
    <hr />
    <img
      style="display: block; margin: auto"
      src="/img/joanClarke.jpg"
      alt="ClarkeJoan"
    />
    <hr />
    <p>
      ¡Una de las primeras mujeres programadoras cruciales dentro de un hito
      histórico! Joan Clarke (1917 – 1996) fue una criptoanalista inglesa famosa
      por su rol como descifradora de códigos durante la Segunda Guerra Mundial.
      Juntó con el equipo del matemático Alan Turing y desde su guarida secreta,
      el Hut8, Joan Clarke fue la única mujer que trabajaba para desencriptar
      las comunicaciones secretas de la Alemania nazi. Aunque trabajó
      arduamente, a Joan Clarke le pagaban menos que sus colegas hombres (¡nada
      justo!). Tuvo que ser ascendida a lingüista (aunque no trabajó con otro
      idioma sino con “lenguaje de máquinas”) para poder acceder a un aumento de
      salario, pues en aquel entonces no existía una política para una mujer
      criptoanalista senior.
    </p>
  </body>
</html>
