<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hamilton Margaret</title>
  </head>
  <body>
    <h1>hamilton Margaret</h1>
    <hr />
    <img
      style="display: block; margin: auto",
      src="/img/hamiltonMargaret.jpg",
      alt="Margaret Hamilton",
      class="center"
    />
    <hr />
    <p>
      Cuando el Apolo 11 tocó por primera vez la Luna hace cinco décadas tres
      nombres acapararon todo el protagonismo: Neil Armstrong, Michael Collins y
      Buzz Aldrin. Poco resonó entonces el de Margaret Hamilton, la científica
      computacional, matemática e ingeniera estadounidense que hizo posible el
      alunizaje en 1969 por haber diseñado el programa informático que controló
      el funcionamiento de todos los sistemas durante la misión espacial.
    </p>
    <p>
      La trayectoria vital y profesional de Hamilton sirve hoy de inspiración
      para numerosas mujeres por haber destacado en un entorno completamente
      masculino y convertirse, a pesar de los obstáculos, en una de las figuras
      más relevantes en la historia de la NASA
    </p>
    <p>
      Nacida en 1936, inició sus estudios de Matemáticas en la Universidad de
      Michigan y se trasladó más tarde al Earlham College, donde se licenció en
      1958. Su sueño era continuar sus estudios, pero tuvo que desviar la vista
      de su meta para trabajar como profesora de matemáticas y francés en un
      instituto y poder costear así la carrera de su marido en Harvard
    </p>
    <p>
      Luchadora y tenaz, la estadounidense pudo retomar su carrera años después.
      Estudió matemáticas abstractas en la Universidad de Brandeis y entró a
      trabajar con 24 años en el Instituto Tecnológico de Massachusetts (MIT),
      donde se involucró primero en diferentes proyectos dentro del departamento
      de Meteorología, hasta convertirse en directora de la división de
      ingeniería de software.
    </p>
  </body>
</html>
